h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
body{
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
}
a, button{
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}
input{
    &:focus{
        outline: none;
    }
}