@import '../../styles/global.scss';

header {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1;

    .header_alignment {
        padding: 20px 0px;
        @include flex_center_between();
        position: relative;

        .header_logo {
            @include breakpoint ("max-md") {
                order: 2;
            }

            img {
                object-fit: cover;
            }
        }

        .header_menu {
            @include flex_center();
            gap: 42px;

            @include breakpoint("max-md") {
                display: none;
            }

            a {
                color: var(--primary_font_color);
                @include flex_center();

                &:visited {
                    color: var(--primary_font_color);
                }

                p {
                    @include menu();
                    position: relative;
                    z-index: 1;
                    @include flex_center();

                    svg {
                        padding-left: 2px;
                    }

                    &:hover {
                        .product_drop_down {
                            display: block;
                        }
                    }

                    .product_drop_down {
                        overflow: hidden;
                        min-width: 170px;
                        position: absolute;
                        top: 45px;
                        background-color: var(--primary_color);
                        padding: 8px 0px;
                        border-radius: 8px;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                        display: none;

                        &.open {
                            display: block;
                        }

                        p {
                            padding: 8px 20px;
                            @include menu_dropdown();
                        }
                    }
                }
            }
        }

        .header_menu_mobile {
            display: none;

            @include breakpoint("max-md") {
                display: block
            }

            .menu_icon {
                position: relative;
                z-index: 1;

                &.open {
                    .mobile_menu_item {
                        display: block;
                    }
                }

                .mobile_menu_item {
                    margin-top: 21px;
                    position: absolute;
                    width: 720px;
                    display: none;
                    background-color: var(--white);

                    p {
                        padding: 10px 15px;
                        @include flex_center();
                        position: relative;

                        svg {
                            padding-left: 2px;
                        }
                    }

                    .product_dropDown {
                        background-color: var(--primary_color);
                        border-radius: 4px;

                        a {
                            color: var(--white);

                            p {
                                color: var(--white)
                            }
                        }
                    }
                }
            }
        }

        .header_icons {
            @include flex_center();
            gap: 40px;

            @include breakpoint("max-xs") {
                gap: 12px;
            }

            @include breakpoint ("max-md") {
                order: 3;
            }
        }

        .search_bar {
            background-color: var(--primary_color);
            @include flex_center();
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
            width: 100%;
            visibility: hidden;
            position: absolute;
            z-index: 1;
            bottom: -56px;
            left: 0;

            &.open {
                visibility: visible;
            }

            input {
                padding-left: 15px;
                height: calc(1.5em + 0.75rem + 2px);
                background-color: var(--primary_color);
                width: 100%;
                @include input();
                border: none;
                color: var(--white);

                &::placeholder {
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--white);
                }
            }

            .close_icon {
                padding: 20px;
            }
        }
    }
}