@import '../../styles/global.scss';

header {
    width: 100%;

    .header_alignment {
        padding: 20px 0px;
        @include flex_center_between();
        position: relative;


        .header_menu {
            @include flex_center();
            gap: 42px;

            a {
                p {
                    @include menu();
                    position: relative;
                    z-index: 1;
                    &:hover{
                        .product_drop_down{
                            display: block;
                        }
                    }


                    .product_drop_down {
                        overflow: hidden;
                        min-width: 170px;
                        position: absolute;
                        top: 45px;
                        background-color: var(--primary_color);
                        padding: 8px 0px;
                        border-radius: 8px;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                        display: none;

                        &.open {
                            display: block;
                        }

                        p {
                            padding: 8px 20px;
                            @include menu_dropdown();
                        }
                    }
                }
                @include flex_center();

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    &::after {
                        content: "";
                        display: inline-block;
                        margin-left: 10px;
                        vertical-align: 0.255em;
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                    }
                }

            }
        }

        .header_icons {
            @include flex_center();
            gap: 40px;
            .search{
                cursor: pointer;
            }
        }


        .search_bar {
            background-color: var(--primary_color);
            @include flex_center();
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
            width: 100%;
            visibility: hidden;
            position: absolute;
            bottom: -56px;
            left: 0;

            &.open {
                visibility: visible;
            }

            input {
                padding-left: 15px;
                height: calc(1.5em + 0.75rem + 2px);
                background-color: var(--primary_color);
                width: 100%;
                @include input();
                border: none;
                color: var(--white);

                &::placeholder {
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--white);
                }
            }

            .close_icon {
                padding: 20px;
            }
        }
    }
}